<html>
	<head>
		<title>API Docs</title>
	</head>

	<body>
		<h1>API base URL</h1>
		<p>This is the base URL for the xbdistro-package-reporter API. This instance is configured with distro_name = {{ distro_name }}, and allow_email_config = {{ allow_email_config }}.</p>
		<p>The API is not yet stable.</p>

		<h2>/email</h2>
		<p>All URLs under /email return human-readable HTML. There may be changes at any time here. Responses are not designed to be machine-interpreted.</p>


		<h2>/packages</h2>
		<h3>/packages/list</h3>
		<p>Returns a list of packages.</p>

		<h3>/packages/package/&lt;name&gt;</h3>
		<p>Returns more information about a specific package.</p>
	</body>
</html>