<!DOCTYPE html>
<html>
	<head>
		<title>{{ distro_name }} Package Reporter</title>
		<style type="text/css">
			body { font-family: sans-serif; }
		</style>
		{% include "package-css.template.html" %}
	</head>

	<body>
		<h1>{{ distro_name }} Package Reporter</h1>
		<p>Number of known packages: {{ package_count }}</p>
		<p>Number of out of date packages: {{ package_count }}</p>

		<p>View the latest PDF report <a href="{{ url_for('download_latest_report') }}">here.</a></p>
		<p>To subcribe to / unsubscribe from the regular, automated, report mailing list, view the form <a href="{{ url_for('email_page') }}">here.</a></p>

		<h1>Packages</h1>
		<div>
			{% for package in packages %}
				{% include "package.template.html" %}
			{% endfor %}
		</div>

		{% include "package-scripts.template.html" %}
	</body>
</html>